<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title !=="undefined" ? title : "Playtory" %>
    </title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <nav class="navbar bg-primary text-primary-content">
        <div class="w-full max-w-5xl mx-auto">
            <div class="flex items-center">
                <div class="flex-1">
                    <a href="/" class="btn btn-ghost text-2xl font-heading">Playtory</a>
                </div>
                <div class="flex-none">
                    <ul class="menu menu-horizontal px-1">
                        <li><a href="/games">Games</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main class="max-w-5xl mx-auto py-8 px-4">
        <%- body %>
    </main>
</body>

</html>