@import "@fontsource-variable/manrope";
@import "@fontsource-variable/inter";
@import "tailwindcss";
@plugin "daisyui" {
  themes: business --default;
}

@layer base {
  @theme {
    --font-sans: 'Inter Variable', sans-serif;
    --font-heading: 'Manrope Variable', sans-serif;
  }
}